@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('http://sturgeonmoon2018.com/fonts/AGaramondPro-Italic.eot');
    src: url('http://sturgeonmoon2018.com/fonts/AGaramondPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('http://sturgeonmoon2018.com/fonts/AGaramondPro-Italic.woff2') format('woff2'),
        url('http://sturgeonmoon2018.com/fonts/AGaramondPro-Italic.woff') format('woff'),
        url('http://sturgeonmoon2018.com/fonts/AGaramondPro-Italic.ttf') format('truetype'),
        url('http://sturgeonmoon2018.com/fonts/AGaramondPro-Italic.svg#AGaramondPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "AGaramondPro-BoldItalic";
  src: url("http://sturgeonmoon2018.com/fonts/AGaramondPro-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("http://sturgeonmoon2018.com/fonts/AGaramondPro-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://sturgeonmoon2018.com/fonts/AGaramondPro-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("http://sturgeonmoon2018.com/fonts/AGaramondPro-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("http://sturgeonmoon2018.com/fonts/AGaramondPro-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("http://sturgeonmoon2018.com/fonts/AGaramondPro-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("http://sturgeonmoon2018.com/fonts/AGaramondPro-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Centered texts in each section
	* --------------------------------------- */

.section {
  text-align: center;
  overflow: hidden;
}

/* Layer Icon centering
	* --------------------------------------- */
.layer.icon {
  top: 90%;
}
.lnr.lnr-arrow-down {
	color: white;
	font-size: 30px;
}
.lnr.lnr-heart {
	color: white;
	font-size: 40px;
}

#txt_invite {
	width: 100%;
	position: absolute;
	top:80%;
}

#accommodations {
	margin: 0 auto;
	position: relative;
	width: 80%;
}

p {
    color: white;
    font-family: 'Adobe Garamond Pro';
    font-size: 16px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 24px;
}

p.bold {
	font-family: "AGaramondPro-BoldItalic";
}

.tel {
	color: white;
	text-decoration: none;
}

.email {
	color: white;
	text-decoration: none;
}

a.link {
	color: white;
}

table {
	display:block;
	margin: 0 auto;
	width: 600px;
}

#myVideo {
    height: 70%;
    z-index: 3;
}


/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
.layer {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;

	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#map {
	display:block;
	margin:0 auto;
	width: 850px;
	height: 637px;
	position: relative;
	top: -20px;
}

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display:none !important;
}


@media only screen and (max-width: 768px) {
    p { 
  		font-size: 24px;
  	}
  	table {
  		width:100%;
  	}

  	tr, tbody{
  		width:100%;
	    display:block;
	}
  	td{
  		width:100%;
	    display:block;
	}
	#map {    
		width: 100%;
    	height: 400px;
	}
}
