@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('../fonts/AGaramondPro-Italic.eot');
    src: url('../fonts/AGaramondPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGaramondPro-Italic.woff2') format('woff2'),
        url('../fonts/AGaramondPro-Italic.woff') format('woff'),
        url('../fonts/AGaramondPro-Italic.ttf') format('truetype'),
        url('../fonts/AGaramondPro-Italic.svg#AGaramondPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Centered texts in each section
	* --------------------------------------- */

.section {
  text-align: center;
  overflow: hidden;
}

/* Layer Icon centering
	* --------------------------------------- */
.layer.icon {
  top: 90%;
}
.lnr.lnr-arrow-down {
	color: white;
	font-size: 30px;
}
.lnr.lnr-heart {
	color: white;
	font-size: 40px;
}

#txt_invite {
	width: 100%;
	position: absolute;
	top:80%;
}

#accommodations {
	margin: 0 auto;
	position: relative;
	width: 80%;
}

p {
    color: white;
    font-family: 'Adobe Garamond Pro';
    font-size: 18px;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    line-height: 24px;
}

.tel {
	color: white;
	text-decoration: none;
}

.email {
	color: white;
	text-decoration: none;
}

table {
	display:block;
	margin: 0 auto;
	width: 600px;
}

#myVideo {
    height: 70%;
    z-index: 3;
}


/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
.layer {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;

	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#map {
	display:block;
	margin:0 auto;
	width: 850px;
	height: 637px;
}

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display:none !important;
}
